.App {
	text-align: center;
}

.App-logo {
	width: 55vw;
	margin-top: 3.5vw;
	pointer-events: none;
}

.App-header {
	background-color: #000000;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	color: white;
}

.Link {
	margin-top: 1.5vw;
	margin-bottom: 5vh;
	margin-left: .9vw;
	margin-right: .9vw;
	font-size: 2.75vw;
	letter-spacing: 2px;

}

.Link:hover {
	color: #E44fC4;
	cursor: pointer
}

.Menu {
	display: flex;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
